.nav a{
  background-color: red;
}
ul li{
  color: black;
}
ul.nav a{
  color: white;
}
#header u1{
  color:blue;
  margin-bottom: 3px;
}
.item{
  size:10px;
}
#about_blue{
  color: black;
  background-color: #F0F8FF;
  margin-bottom: 30px;
  }
#about_blue li{
  color: blue ;
}
#about_yellow{
  background-color: #FFEBCD;
}
#about_yellow li{
  color: orange;
}
.color-info{
  border: 3px solid black;
}
.important{
  font-size: 16px;
  font-weight: bold;
}
